* {
    margin: 0px;
    padding: 0PX;
}

.main {

    text-align: center;

}

.a,
.b,
.c,
.d {
    padding: 30px;
    width: 200px;
    display: inline-block;
    text-align:center;
    vertical-align: top;
    transition: all 2.5s ease;


}

.a {
    background-color: red;
}

i { 
    transition: all 0.2s ease;
    font-size: 60px;
    opacity:;
    width: 20px;
    border-radius: 50%;
}
i:hover {
    background-color: red;
    color: aliceblue;
}